::-webkit-scrollbar {
  display: none;
}

.home-container {
  height: 100dvh;
  width: 100%;

  .hero {
    height: 100vh;
    width: 100%;

    .hero-text-wrapper {
      height: 60dvh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .hero-text {
        font-size: 7rem;
        font-weight: 500;
        font-family: "Helvetica";
        color: var(--primary);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.05em;
      }

      .hero-line {
        height: 0em;
        width: 0%;
        background-color: var(--black);
        margin-left: 1.1em;
        margin-right: 1.1em;
        margin-bottom: 4.2em;
      }
    }

    .ball-container-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 7vh;
      width: 100%;
      background-color: var(--black);
    }

    .ball-container {
      height: 100dvh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(40%);
      z-index: 0;
      
      margin: auto;
      background-color: var(--black);
      overflow: hidden;


      .pink-ball {
        position: absolute;
        top: -20%;
        left: -10%;
        width: 700px;
        height: 700px;
        z-index: -1;
        background: rgb(228, 44, 105);
        border-radius: 800px;
        filter: blur(90px);
        animation: pink 20s infinite linear;
        animation-delay: 0s;
      }

      .blue-ball {
        position: absolute;
        top: -20%;
        left: -10%;
        width: 700px;
        height: 600px;
        z-index: -1;
        background-color: rgb(37, 108, 240);
        border-radius: 800px;
        filter: blur(140px);
        animation: blue 20s infinite linear;
        animation-delay: -3s;
      }

      @keyframes pink {
        0%,
        100% {
          top: 80%;
          left: 70%;
        }
        20% {
          top: -70%;
          left: 50%;
        }
        40% {
          top: 60%;
          left: 30%;
        }

        60% {
          top: 0%;
          left: 0%;
        }
        80% {
          top: 40%;
          left: 30%;
        }
      }

      @keyframes blue {
        0%,
        100% {
          top: 20%;
          left: 20%;
        }
        20% {
          top: -30%;
          left: 90%;
        }
        40% {
          top: 70%;
          left: 0%;
        }
        60% {
          top: 30%;
          left: 0%;
        }
        80% {
          top: 70%;
          left: 60%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    .hero {
      .hero-text-wrapper {
        height: 50vh;
        .hero-line {
          margin-bottom: 1.5em;
        }

        .hero-text {
          font-size: 2.5rem;
          
        }
      }
      .ball-container {
        .pink-ball {
          width: 400px;
          height: 400px;
        }
        .blue-ball {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}
